.container {
  width: 375px;
  height: 812px;
  background-color: #17181a;
  border-radius: 39px;
  padding: 33px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container button {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.15s linear;
}

.container button:hover {
  opacity: 0.75;
  transform: translateY(5px);
}

.display {
  color: aliceblue;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 10px 50px 0;
}

.display p {
  font-size: 46px;
  overflow: hidden;
}

.lr {
  display: flex;
}

.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.left button {
  width: 62px;
  height: 60px;
  border-radius: 16px;
  margin-right: 20px;
  border: none;
}

.left svg {
  width: 20px;
  height: 22px;
}

.flex button {
  color: #29a8ff;
  background-color: #303136;
  font-weight: 500;
  font-size: 32px;
  border: none;
  margin-top: 16px;
  margin-right: 20px;
}

.flx {
  display: flex;
}

.flx button {
  border: none;
  color: #29a8ff;
  margin-top: 16px;
  background: #303136;
  font-weight: 500;
  font-size: 32px;
}

.zero button {
  width: 144px;
  height: 60px;
}

.right {
  display: flex;
  flex-direction: column;
}

.right button {
  width: 62px;
  height: 60px;
  margin-top: 16px;
  border-radius: 16px;
}

.neg button {
  margin: 0;
}

.ond .ak button {
  background-color: #1991ff;
}

.ond button {
  width: 62px;
  height: 98px;
  border: none;
}

.kok button {
  background-color: #005db2;
  border: none;
  /* margin: 0; */
}

.blue button {
  background-color: #005db2;
}
